<!DOCTYPE html>
<html>
<head>
    <title>CUTE</title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel='stylesheet' href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/course.css'>
    <link rel="stylesheet" href="/stylesheets/util.css">
    <link rel="stylesheet" href="/stylesheets/meetingtable.css">
    <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</head>

<body>

    <nav class="nav">
        <a class="logo">CUTE</a>
        <% if(sid == undefined){ %>
            <button class="nav-button" data-toggle="modal" data-target="#loginModal">
                <span aria-hidden="true">
                    <i class="ion-log-in"></i>
                </span> Login
            </button>
            <% } else { %>
                <button class="nav-button" id="student-id">
                    <span aria-hidden="true">
                        <i class="ion-ios-person"></i>
                    </span>
                    <%= sid %>
                </button>
                <button class="nav-button" onclick="window.location.href='/logout'">
                    <span aria-hidden="true">
                        <i class="ion-log-out"></i>
                    </span> Logout
                </button>
                <% } %>
    </nav>
    <div class = "main-container">
        <main class="main-content">
            <div class="course-page">
                <div class="page-container">
                    <div class="row">
                        <div class="col-md-9">
                            <div id="Details">
                                <header class="course-header">
                                    <a class="link link--kukuri" href="#" data-letters=<%= course.courseCode %>><%= course.courseCode %></a>
                                    <h2>
                                        <%= course.courseName %>
                                    </h2>
                                    <p>
                                        <% if(course.classDetails.units != '1'){ %>
                                            <span class="beauty-font">
                                                <%= course.classDetails.units %> units
                                            </span>
                                        <% }else{ %>
                                            <span class="beauty-font">
                                                <%= course.classDetails.units %> unit
                                            </span>
                                        <% } %>
                                        <span class="beauty-font"> ● <%= course.semester %></span>
                                    </p>
                                </header>
                                <section>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <span class="beauty-font">
                                                <%- course.description %>
                                            </span>
                                        </div>
                                        <div class="col-sm-4">
                                            <div>
                                                <h2>Course Details</h2>
                                            </div>
                                            <div class="course-detail">
                                                <h4>Career: </h4>
                                                <p><%= course.classDetails.career %></p>
                                                <h4>Grading: </h4>
                                                <p>
                                                    <%= course.classDetails.grading %>
                                                </p>
                                                <h4>Lecture Status: </h4>
                                                <p>
                                                    <%= course.lectures.status %>
                                                </p>
                                                <% if(course.sectionCode.length> 0){ %>
                                                <h4>Section Code: </h4>
                                                <p>
                                                    <%= course.sectionCode %>
                                                </p>
                                                <% } %>
                                            </div>
                                        </div>    
                                    </div>
                                </section>
                            </div>
                            <section id="MeetingInfo">
                                <h2 class="courseinfo-border">Meeting Information</h2>
                                <div class="row">
                                    <% if(course.lectures._id){ %>
                                        <div>
                                            <h3>Lecture</h3>
                                            <div class="table100 ver2 m-b-110">
                                                <div class="table100-head">
                                                    <table>
                                                        <thead>
                                                            <tr class="row100 head">
                                                                <th class="cell100 column1">Days & Times</th>
                                                                <th class="cell100 column2">Room</th>
                                                                <th class="cell100 column3">Instructor</th>
                                                                <th class="cell100 column4">Meeting Dates</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            
                                                <div class="table100-body js-pscroll">
                                                    <table>
                                                        <tbody>
                                                            <% for(var i=0;i<course.lectures.meetingInfo.length;i++){ %>
                                                            <tr class="row100 body">
                                                                <td class="cell100 column1"><%= course.lectures.meetingInfo[i].daysTime.day %> <%= course.lectures.meetingInfo[0].daysTime.timeSlot.start %>-<%= course.lectures.meetingInfo[0].daysTime.timeSlot.end %></td>
                                                                <td class="cell100 column2"><%= course.lectures.meetingInfo[i].room %></td>
                                                                <td class="cell100 column3"><%= course.instructor %></td>
                                                                <td class="cell100 column4"><%= course.lectures.meetingInfo[i].meetingDates.startDate %>-<%= course.lectures.meetingInfo[0].meetingDates.endDate %></td>
                                                            </tr>
                                                            <% } %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                        </div>
                                    <% } %>
                                    <% if(course.tutorials.length>0){ %>
                                        <div class>
                                            <h3>Tutorials</h3>
                                            <div class="table100 ver2 m-b-110">
                                                <div class="table100-head">
                                                    <table>
                                                        <thead>
                                                            <tr class="row100 head">
                                                                <th class="cell100 column1">Tutorials Section</th>
                                                                <th class="cell100 column2">Days & Times</th>
                                                                <th class="cell100 column3">Room</th>
                                                                <th class="cell100 column4">Instructor</th>
                                                                <th class="cell100 column5">Meeting Dates</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            
                                                <div class="table100-body js-pscroll">
                                                    <table>
                                                        <tbody>
                                                            <% for(var i=0;i<course.tutorials.length;i++){ %>
                                                            <tr class="row100 body">
                                                                <td class="cell100 column1">TUT SECTION</td>
                                                                <td class="cell100 column2"><%= course.tutorials[i].meetingInfo[0].daysTime.day %> <%= course.tutorials[i].meetingInfo[0].daysTime.timeSlot.start %>-
                                                                    <%= course.tutorials[i].meetingInfo[0].daysTime.timeSlot.end %></td>
                                                                <td class="cell100 column3"><%= course.tutorials[i].meetingInfo[0].room %></td>
                                                                <td class="cell100 column4"><%= course.instructor %></td>
                                                                <td class="cell100 column5"><%= course.tutorials[i].meetingInfo[0].meetingDates.startDate %>-
                                                                    <%= course.tutorials[i].meetingInfo[0].meetingDates.endDate %></td>
                                                            </tr>
                                                            <% } %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                    <% if(course.labs.length>0){ %>
                                        <div class>
                                            <h3>Labs</h3>
                                            <div class="table100 ver2 m-b-110">
                                                <div class="table100-head">
                                                    <table>
                                                        <thead>
                                                            <tr class="row100 head">
                                                                <th class="cell100 column1">Labs Section</th>
                                                                <th class="cell100 column2">Days & Times</th>
                                                                <th class="cell100 column3">Room</th>
                                                                <th class="cell100 column4">Instructor</th>
                                                                <th class="cell100 column5">Meeting Dates</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            
                                                <div class="table100-body js-pscroll">
                                                    <table>
                                                        <tbody>
                                                            <% for(var i=0;i<course.labs.length;i++){ %>
                                                                <tr class="row100 body">
                                                                    <td class="cell100 column1">LAB SECTION</td>
                                                                    <td class="cell100 column2">
                                                                        <%= course.labs[i].meetingInfo[0].daysTime.day %>
                                                                            <%= course.labs[i].meetingInfo[0].daysTime.timeSlot.start %>-
                                                                                <%= course.labs[i].meetingInfo[0].daysTime.timeSlot.end %>
                                                                    </td>
                                                                    <td class="cell100 column3">
                                                                        <%= course.labs[i].meetingInfo[0].room %>
                                                                    </td>
                                                                    <td class="cell100 column4">
                                                                        <%= course.instructor %>
                                                                    </td>
                                                                    <td class="cell100 column5">
                                                                        <%= course.labs[i].meetingInfo[0].meetingDates.startDate %>-
                                                                            <%= course.labs[i].meetingInfo[0].meetingDates.endDate %>
                                                                    </td>
                                                                </tr>
                                                                <% } %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                </div>
                            </section>
                            <section id="EnrollmentInfo">
                                <h2 class="courseinfo-border">Enrollment Information</h2>
                                <p>Class Attribute: </p>
                                <p><%= course.enrollmentInfo.classAttr %></p>
                                <p>Drop Consent</p>
                                <p><%= course.enrollmentInfo.dropConsent %></p>
                                <p>Enroll Requirement: </p>
                                <p><%= course.enrollmentInfo.enrollReq %></p>
                            </section>
                            <section id="AvailablityInfo">
                                <div class="courseinfo-border">
                                    <span class="h2-span">Class Availablity</span>
                                    <span class="comments-sort-list">
                                        <span id="courseId" style="display: none;"><%= course._id %></span>
                                        <span>Last Updated: </span>
                                        <span><%= course.lectures.classAvail.updatedTime %></span>
                                        <% if (sid != undefined){ %>
                                        <button class="btn btn-cute" id="refresh-waitingList">refresh</button>
                                        <% } %>
                                    </span>
                                </div>
                                <h3>Lectures</h3>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h4 class="courseinfo-border">Quota</h4>
                                        <span>
                                            <%= course.lectures.classAvail.enrollTotal %> /
                                                <%= course.lectures.classAvail.classCapacity %>
                                        </span>
                                    </div>
                                    <div class="col-sm-4">
                                        <h4 class="courseinfo-border">Waiting List</h4>
                                        <span>
                                            <%= course.lectures.classAvail.waitListTotal %> /
                                                <%= course.lectures.classAvail.waitListCapacity %>
                                        </span>
                                    </div>
                                </div>
                                <% if(course.tutorials.length>0){ %>
                                <h3>Tutorials</h3>
                                <% for(var i=0;i<course.tutorials.length;i++){ %>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h4 class="courseinfo-border">Quota</h4>
                                        <span>
                                            <%= course.tutorials[i].classAvail.enrollTotal %> /
                                                <%= course.tutorials[i].classAvail.classCapacity %>
                                        </span>
                                    </div>
                                    <div class="col-sm-4">
                                        <h4 class="courseinfo-border">Waiting List</h4>
                                        <span>
                                            <%= course.tutorials[i].classAvail.waitListTotal %> /
                                                <%= course.tutorials[i].classAvail.waitListCapacity %>
                                        </span>
                                    </div>
                                </div>
                                <% } %>
                                <% } %>
                                <% if(course.labs.length>0){ %>
                                    <h3>Labs</h3>
                                    <% for(var i=0;i<course.labs.length;i++){ %>
                                        <p>
                                            <%= course.labs[i].classAvail %>
                                        </p>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <h4 class="courseinfo-border">Quota</h4>
                                                <span>
                                                    <%= course.labs[i].classAvail.enrollTotal %> /
                                                        <%= course.labs[i].classAvail.classCapacity %>
                                                </span>
                                            </div>
                                            <div class="col-sm-4">
                                                <h4 class="courseinfo-border">Waiting List</h4>
                                                <span>
                                                    <%= course.labs[i].classAvail.waitListTotal %> /
                                                        <%= course.labs[i].classAvail.waitListCapacity %>
                                                </span>
                                            </div>
                                        </div>
                                    <% } %>
                                <% } %>
                            </section>
                            <section id="Comments">
                                <div class="courseinfo-border">
                                    <a href="#respond" class="scroll_cmt_frm scroller">
                                        Add Comment
                                    </a>
                                    <h2>Comments</h2>
                                </div>
                                <div class="comments_border">
                                    <div class="comments-list">
                                        <% for(var i=0; i < course.comments.length; i++){ %>
                                        <div class="thread" id=<%= course.comments[i].author %>>
                                            <div class="comment-item">
                                                <% if(sid == course.comments[i].author){ %><% } %>
                                                    <h3>My Comment</h3>
                                                    <span class="comment-submit">
                                                        <input id="CommentId" value=<%= course.comments[i]._id %> style="display: none;">
                                                        <input name="edit" type="submit" id="edit" class="edit" value="Edit">
                                                    </span>
                                                    <span class="comment-submit">
                                                        <input name="Delete" type="submit" id="Delete" class="Delete" value="Delete">
                                                    </span>
                                                <div class="comment-conten"><%= course.comments[i].text %></div>
                                                <div class="comment-mode">
                                                    <div class="comment-control">
                                                        <span><%= course.comments[i].semester %></span>
                                                        <div class="separator"> ● </div>
                                                        <span>
                                                            <%= course.comments[i].rating %>
                                                        </span>
                                                    </div>
                                                    <div class="time-section">
                                                        <span class="comment-time"><%= course.comments[i].time %></span>
                                                        <div class="separator"> ● </div>
                                                        <span class="comment-section"><%= course.comments[i].courseCode %></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                    </div>
                                </div>
                            </section>
                            <section id="respond" class="comment-respond">
                                <h2 class="comment-reply-title">Leave a Comment</h2>
                                <span class="comment-form">
                                    <label>Your comment * For users who have logged in and taken <%= course.courseCode %></label>
                                    <p class="comment-form-comment">
                                        <input name="courseId" value=<%= course._id %> style="display: none;"></input>
                                        <textarea id="write-comment" name="text" col="60" row="8" required></textarea>
                                    </p>
                                    <p>
                                        <span class="rating">
                                            <span>Rating: </span>
                                            <input id="rating5" type="radio" name="rating" value="5">
                                            <label for="rating5">5</label>
                                            <input id="rating4" type="radio" name="rating" value="4">
                                            <label for="rating4">4</label>
                                            <input id="rating3" type="radio" name="rating" value="3" checked>
                                            <label for="rating3">3</label>
                                            <input id="rating2" type="radio" name="rating" value="2">
                                            <label for="rating2">2</label>
                                            <input id="rating1" type="radio" name="rating" value="1">
                                            <label for="rating1">1</label>
                                            <input id="rating" style="display: none;" value="3">
                                        </span>
                                    </p>
                                    <p class="comment-submit">
                                        <input name="submit" type="submit" id="submit" class="submit" value="Send a Comment">
                                    </p>
                                </span>
                            </section>
                        </div>
                        <aside class="col-md-3">
                            <div class="info-nav scrollable">
                                <nav class="aside-nav">
                                    <ul>
                                        <li class='red_sign'>
                                            <a id="nav-details" href="#Details">&nbsp  Details</a>
                                        </li>
                                        <li class>
                                            <a id="nav-meeting" href="#MeetingInfo">&nbsp  Meeting Information</a>
                                        </li>
                                        <li class>
                                            <a id="nav-enrollment" href="#EnrollmentInfo">&nbsp  Enrollment Information</a>
                                        </li>
                                        <li class>
                                            <a id="nav-availablity" href="#AvailablityInfo">&nbsp  Class Availablity</a>
                                        </li>
                                        <li class>
                                            <a id="nav-comments" href="#Comments">&nbsp Comments</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            <i class="ion-ios-close-outline"></i>
                        </span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/login" id="login-form">
                        <div class="login-input input-box">
                            <i class="ion-ios-person-outline"></i>
                            <input type="text" name="sid" placeholder="11550xxxxx">
                        </div>
                        <div class="login-input input-box">
                            <i class="ion-ios-keypad-outline"></i>
                            <input type="password" name="pwd" placeholder="password">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" form="login-form" value="Submit" class="btn btn-cute">Login</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript" src="/javascripts/course.js"></script>