<% include partials/header%>
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<link rel='stylesheet' href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel='stylesheet' href='/stylesheets/course.css'>
<link rel="stylesheet" href="/stylesheets/util.css">
<link rel="stylesheet" href="/stylesheets/meetingtable.css">
<link rel="stylesheet" href="/stylesheets/like.css">
<script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
    <% var component = Object.keys(course.componentDict); %>
    <% var componentDir = { LEC: 'Lecture', TUT:'Tutorial', LAB:'Laboratory', ASB:'Assembly', CLW:'Classwork', NAN:'Debate', DIS:'Discussion', EXR:'Exercise', FLD:'Field Studies/Field-trip', IND:'Independent Study', OTH:'Others',PRA:'Practicum', PRJ:'Project', SEM:'Seminar', STD:'Studio', TMC:'Thesis Monitoring Course', WBL:'Web-enhanced', WKS:'Workshop' }; %>
    <% var Monday = 'Monday'; var Tuesday = 'Tuesday'; var Wednesday = 'Wednesday'; var Thursday = 'Thursday'; var Friday = 'Friday'; var Saturday = 'Saturday'; %>
    <% var start1 = "8:30"; var start2 = "9:30"; var start3 = "10:30"; var start4 = "11:30"; var start5 = "12:30"; var start6 = "13:30"; var start7 = "14:30"; var start8 = "15:30";var start9 = "16:30"; var start10 = "17:30";var start11 = "18:30";var start12 = "19:30";var start13 = "20:30";var start14 = "21:30";%>
    <% var end1 = "8:45"; var end2 = "9:45"; var end3 = "10:45"; var end4 = "11:45"; var end5 = "12:45"; var end6 = "13:45"; var end7 = "14:45"; var end8 = "15:45";var end9 = "16:45"; var end10 = "17:45";var end11 = "18:45";var end12 = "19:45";var end13 = "20:45"; var end14 = "21:45";%>
    <div class = "main-container">
        <main class="main-content">
            <div class="course-page">
                <div class="page-container">
                    <div class="row">
                        <div class="col-md-9">
                            <div id="Details">
                                <header class="course-header">
                                    <p>
                                        <% if('previous' in course){ %>
                                        <script>
                                        function previous() {
                                            id = "<%= course.previous %>"
                                            window.location.href = String(id);
                                        }
                                        </script>
                                        <button class="button1" style="vertical-align:text-bottom" onclick="previous()"><span>Last</span></button>
                                        <% } %>
                                        <% if(course.sectionCode != ''){ %>
                                            <% var slashLetter = course.courseCode+"-"+ course.sectionCode; %>
                                            <a class="link link--kukuri" href="#" data-letters=<%= slashLetter %>>
                                                <%= course.courseCode %>-<%= course.sectionCode %>
                                            </a>
                                        <% }else{ %>
                                            <a class="link link--kukuri" href="#" data-letters=<%= course.courseCode %>>
                                                <%= course.courseCode %>
                                            </a>
                                        <% } %>
                                        <% if('after' in course){ %>
                                        <script>
                                        function after() {
                                            id = "<%= course.after %>"
                                            window.location.href = String(id);
                                        }
                                        </script>
                                        <button class="button2" style="vertical-align:text-bottom" onclick="after()"><span>Next</span></button>
                                        <% } %>
                                    </p>
                                    <h2>
                                        <%= course.courseName %>
                                    </h2>
                                    <p>
                                        <% if(course.classDetails.units != '1'){ %>
                                            <span class="beauty-font">
                                                <%= course.classDetails.units %> units
                                            </span>
                                        <% }else{ %>
                                            <span class="beauty-font">
                                                <%= course.classDetails.units %> unit
                                            </span>
                                        <% } %>
                                        <span class="beauty-font"> ● <%= course.semester %></span>
                                    </p>
                                </header>
                                <section>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <span class="beauty-font">
                                                <%- course.description %>
                                            </span>
                                        </div>
                                        <div class="col-sm-4">
                                            <div>
                                                <h2>Course Details</h2>
                                            </div>
                                            <div class="course-detail">
                                                <h4>Career: </h4>
                                                <p><%= course.classDetails.career %></p>
                                                <h4>Grading: </h4>
                                                <p>
                                                    <%= course.classDetails.grading %>
                                                </p>
                                                <h4>Instructor: </h4>
                                                <p>
                                                    <%= course.instructor %>
                                                </p>
                                            </div>
                                        </div>    
                                    </div>
                                </section>
                            </div>
                            <section id="MeetingInfo">
                                <h2 class="courseinfo-border">Meeting Information</h2>
                                <div class="row">
                                    <% for(var a = 0; a < component.length ;a++){ %>
                                        
                                        <% for(var b=0; b < course.componentDict[component[a]].length;b++){ %>
                                            <% component_num=component[a]+'['+b+']'; %>
                                            <div>
                                                <p class="oneline m-l-60">
                                                    <span class="h2-span"><%= componentDir[component[a]] %></span>
                                                    <span>&nbsp&nbsp</span>
                                                    <% if(course.componentDict[component[a]].length!=1){ %>
                                                    <span class="press">Section code: <%= eval("course.componentDict."+component_num+".sectionCode") %></span>
                                                    <% } %>
                                                </p>
                                                <div class="table100 ver2 m-b-40 m-l-50">
                                                    <div class="table100-head">
                                                        <table>
                                                            <thead>
                                                                <tr class="row100 head">
                                                                    <th class="cell100 column1">Days & Times</th>
                                                                    <th class="cell100 column2">Room</th>
                                                                    <th class="cell100 column3">Instructor</th>
                                                                    <th class="cell100 column4">Meeting Dates</th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                    </div>
                                                
                                                    <div class="table100-body js-pscroll">
                                                        <table>
                                                            <tbody>
                                                                <% for(var c=0; c< eval("course.componentDict."+component_num+".meetingInfo.length");c++){ %>
                                                                
                                                                <tr class="row100 body">
                                                                    <% var startDate = [(eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].meetingDates").startDate.getDate()),(eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].meetingDates").startDate.getMonth()+1),eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].meetingDates").startDate.getFullYear()].join('/'); %>
                                                                    <% var endDate =[(eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].meetingDates").endDate.getDate()),(eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].meetingDates").endDate.getMonth()+1),eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].meetingDates").endDate.getFullYear()].join('/'); %>
                                                                    <% eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].meetingDates.startDate"+"= startDate"); %>
                                                                    <% eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].meetingDates.endDate"+"= endDate"); %>
                                                                    <% if (component[a] != 'WBL' && component[a] != 'PRJ'){ %>
                                                                    <% switch (eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.day")) { case 0: eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.day"+"=Monday"); break;case 1: eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.day"+"= Tuesday"); break; case 2: eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.day"+"= Wednesday"); break; case 3: eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.day"+"= Thursday"); break; case 4: eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.day"+"=Friday"); break; case 5: eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.day"+ "= Saturday"); break; } %>
                                                                    <% switch (eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.timeSlot.start")) { case 1: eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.timeSlot.start"+"=start1"); break;case 2: eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.timeSlot.start"+"=start2"); break; case 3: eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.timeSlot.start"+"=start3"); break; case 4: eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.timeSlot.start"+"=start4"); break; case 5: eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.timeSlot.start"+"=start5"); break; case 6: eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.timeSlot.start"+"=start6"); break; case 7: eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.timeSlot.start"+"=start7"); break;case 8: eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.timeSlot.start"+"=start8"); break; case 9: eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.timeSlot.start"+"=start9"); break; case 10: eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.timeSlot.start"+"=start10"); break; case 11: eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.timeSlot.start"+"=start11"); break; case 12: eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.timeSlot.start"+"=start12"); break;case 13: eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.timeSlot.start"+"=start13")= "20:30"; break;case 14: eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.timeSlot.start"+"=start14"); break;} %>
                                                                    <% switch (eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.timeSlot.end")) { case 1: eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.timeSlot.end"+"=end1"); break;case 2: eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.timeSlot.end"+"=end2"); break; case 3: eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.timeSlot.end"+"=end3"); break; case 4: eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.timeSlot.end"+"=end4"); break; case 5: eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.timeSlot.end"+"=end5"); break; case 6: eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.timeSlot.end"+"=end6"); break; case 7: eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.timeSlot.end"+"=end7"); break;case 8: eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.timeSlot.end"+"=end8"); break; case 9: eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.timeSlot.end"+"=end9"); break; case 10: eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.timeSlot.end"+"=end10"); break; case 11: eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.timeSlot.end"+"=end11"); break; case 12: eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.timeSlot.end"+"=end12"); break;case 13: eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.timeSlot.end"+"=end13")= "20:30"; break;case 14: eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.timeSlot.end"+"=end14"); break;} %>
                                                                    <td class="cell100 column1"><%= eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.day") %> <%= eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.timeSlot.start") %> - <%= eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].daysTime.timeSlot.end") %></td>
                                                                    <td class="cell100 column2"><%= eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].room")%></td>
                                                                    <% }else{ %>
                                                                    <td class="cell100 column1">None</td>
                                                                    <td class="cell100 column2">None</td>
                                                                    <% } %>
                                                                    <td class="cell100 column3"><%= course.instructor %></td>
                                                                    <td class="cell100 column4"><%= eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].meetingDates.startDate") %>-<%= eval("course.componentDict."+component_num+".meetingInfo"+"["+c+"].meetingDates.endDate") %></td>
                                                                </tr>
                                                                <% } %>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        <% } %>
                                        
                                    <% } %>
                                </div>
                            </section>
                            <section id="EnrollmentInfo">
                                <h2 class="courseinfo-border">Enrollment Information</h2>
                                <div class="m-l-50">

                                    <% if(course.enrollmentInfo.addConsent){ %>
                                        <p>Add Consent:
                                            <%= course.enrollmentInfo.addConsent %>
                                        </p>
                                        <% } %>
                                    <% if(course.enrollmentInfo.dropConsent){ %>
                                    <p>Drop Consent: <%= course.enrollmentInfo.dropConsent %></p>
                                    <% } %>
                                    <% if(course.enrollmentInfo.enrollReq){ %>
                                    <p>Enroll Requirement: <%= course.enrollmentInfo.enrollReq %></p>
                                    <% } %>
                                    <p>Class Attribute:
                                        <%= course.enrollmentInfo.classAttr %>
                                    </p>
                                    
                                </div>
                            </section>
                            <section id="AvailablityInfo">
                                <div class="courseinfo-border">
                                    <span class="h2-span">Class Availablity</span>
                                    <span class="comments-sort-list">
                                        <span id="courseId" style="display: none;"><%= course._id %></span>
                                        <span>Last Updated: </span>
                                        <% var Updated_time = [(eval("course.componentDict."+component_num+".classAvail").updatedTime.getDate()),(eval("course.componentDict."+component_num+".classAvail").updatedTime.getMonth()+1),eval("course.componentDict."+component_num+".classAvail").updatedTime.getFullYear()].join('/')+'  '+[eval("course.componentDict."+component_num+".classAvail").updatedTime.getHours(),(eval("course.componentDict."+component_num+".classAvail").updatedTime.getMinutes()),eval("course.componentDict."+component_num+".classAvail").updatedTime.getSeconds()].join(':'); %>
                                        <%  eval("course.componentDict."+component_num+".classAvail.updatedTime"+"=Updated_time") %>
                                        <span><%= eval("course.componentDict."+component_num+".classAvail.updatedTime") %></span>
                                        <% if (sid != undefined){ %>
                                        <button class="btn btn-cute" id="refresh-waitingList">refresh</button>
                                        <% } %>
                                    </span>
                                </div>
                                <div class="m-l-50">
                                    <% for(var a = 0; a < component.length ;a++){ %>
                                        <% for(var b=0; b < course.componentDict[component[a]].length;b++){ %>
                                            <% component_num=component[a]+'['+b+']'; %>
                                            <p class="oneline m-t-30">
                                                <span class="h3-span"><%= componentDir[component[a]] %></span>
                                                <span>&nbsp&nbsp</span>
                                                <% if(course.componentDict[component[a]].length!=1){ %>
                                                    <span class="press">Section code:
                                                        <%= eval("course.componentDict."+component_num+".sectionCode") %>
                                                    </span>
                                                <% } %>
                                            </p>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <h4 class="courseinfo-border press">Quota</h4>
                                                    <span class="avail-num">
                                                        <%= eval("course.componentDict."+component_num+".classAvail.enrollTotal") %> /
                                                            <%= eval("course.componentDict."+component_num+".classAvail.classCapacity")%>
                                                    </span>
                                                </div>
                                                <div class="col-sm-4">
                                                    <h4 class="courseinfo-border press">Waiting List</h4>
                                                    <span class="avail-num">
                                                        <%= eval("course.componentDict."+component_num+".classAvail.waitListTotal") %> /
                                                            <%= eval("course.componentDict."+component_num+".classAvail.waitListCapacity") %>
                                                    </span>
                                                </div>
                                            </div>
                                        <% } %>
                                    <% } %>
                                </div>
                            </section>
                            <section id="Comments">
                                <div class="courseinfo-border">
                                    <h2>Comments</h2>
                                    <% if(sid != undefined){ %>
                                    <a href="#respond" class="scroll_cmt_frm scroller" id="add-comment">
                                        Add Comment
                                    </a>
                                    <% } %>
                                </div>
                                <div class="comments_border">
                                    <div class="comments-list">
                                        <% for(var i=0; i < course.comments.length; i++){ %>
                                        <% var firstcomment; %> 
                                        <% if(i==0){ firstcomment = course.comments[i].author; %>
                                            <input id="firstcomment" value=<%= firstcomment %> style="display: none;">
                                        <% } %>
                                        <div class="thread container" id=<%= course.comments[i].author %>>
                                            <% if( sid == course.comments[i].author){ %>
                                            <span class="comment-form edit-form">
                                                <p class="comment-form-comment">
                                                    <input id="comment-id" value=<%= course.comments[i]._id %> style="display: none;">
                                                    <textarea id="edit-comment form" name="text" col="60" row="8" required></textarea>
                                                </p>
                                                <p>
                                                    <span class="rating">
                                                        <span>Rating: </span>
                                                        <input id="rating5" type="radio" name="rating" value="5">
                                                        <label for="rating5">5</label>
                                                        <input id="rating4" type="radio" name="rating" value="4">
                                                        <label for="rating4">4</label>
                                                        <input id="rating3" type="radio" name="rating" value="3" checked>
                                                        <label for="rating3">3</label>
                                                        <input id="rating2" type="radio" name="rating" value="2">
                                                        <label for="rating2">2</label>
                                                        <input id="rating1" type="radio" name="rating" value="1">
                                                        <label for="rating1">1</label>
                                                        <input id="edit-rating" style="display: none;" value="3">
                                                    </span>
                                                </p>
                                                <p class="comment-submit">
                                                    <input name="submit" type="submit" id="edit-submit" class="submit" value="Edit a Comment">
                                                </p>
                                            </span>
                                            <% } %>
                                            <div class="comment-item former">
                                                <% if(sid == course.comments[i].author){ %>
                                                    <% var commented = '1'; %>
                                                    <span>My Comment</span>
                                                    <span class="comment-submit">
                                                        <input id="AuthorId" value=<%= course.comments[i].author %> style="display: none;">
                                                        <input id="CommentId" value=<%= course.comments[i]._id %> style="display: none;">
                                                        <input name="edit" type="submit" id="edit" class="edit" value="Edit">
                                                    </span>
                                                    <span class="comment-submit">
                                                        <input name="Delete" type="submit" id="Delete" class="Delete" value="Delete">
                                                    </span>
                                                <% } %>
                                                <div class="comment-content"><%= course.comments[i].text %></div>
                                                <div class="comment-mode">
                                                    <div class="comment-control">
                                                        <div class="praise">
                                                            <input class="CommentId" value=<%= course.comments[i]._id %> style="display: none;">
                                                            <span class="img-praise">
                                                                <% if( course.comments[i].numVotes>0 && course.comments[i].voters.indexOf(sid)>=0){ %>
                                                                    <img src="/img/like.png" class="praise-img" />
                                                                <% }else{ %>
                                                                    <img src="/img/unlike.png" class="praise-img"/>
                                                                <% } %>
                                                            </span>
                                                            <span class="praise-txt"><%= course.comments[i].numVotes %></span>
                                                        </div>
                                                        <div class="rating-info">
                                                        <span>Rating: </span>
                                                        <span>
                                                            <%= course.comments[i].rating %>
                                                        </span>
                                                        <div class="separator"> ● </div>
                                                        <span>
                                                            <%= course.comments[i].semester %>
                                                        </span>
                                                        <div class="separator"> ● </div>
                                                        <span>Section: </span>
                                                        <span class="comment-section">
                                                            <%= course.comments[i].sectionCode %>
                                                        </span>
                                                        </div>
                                                    </div>
                                                    <div class="time-section">
                                                        <span class="comment-time"><%= course.comments[i].time %></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                    </div>
                                </div>
                            </section>
                            <% if(sid != undefined && commented != 1){ %>
                            <section id="respond" class="comment-respond">
                                <h2 class="comment-reply-title">Leave a Comment</h2>
                                <span class="comment-form">
                                    <label>Your comment * For users who have taken <%= course.courseCode %></label>
                                    <p class="comment-form-comment">
                                        <input name="courseId" value=<%= course._id %> style="display: none;"></input>
                                        <textarea id="write-comment" name="text" col="60" row="8" required></textarea>
                                    </p>
                                    <p>
                                        <span class="rating">
                                            <span>Rating: </span>
                                            <input id="rating5" type="radio" name="rating" value="5">
                                            <label for="rating5">5</label>
                                            <input id="rating4" type="radio" name="rating" value="4">
                                            <label for="rating4">4</label>
                                            <input id="rating3" type="radio" name="rating" value="3" checked>
                                            <label for="rating3">3</label>
                                            <input id="rating2" type="radio" name="rating" value="2">
                                            <label for="rating2">2</label>
                                            <input id="rating1" type="radio" name="rating" value="1">
                                            <label for="rating1">1</label>
                                            <input id="rating" style="display: none;" value="3">
                                        </span>
                                    </p>
                                    <p class="comment-submit">
                                        <input name="submit" type="submit" id="submit" class="submit" value="Send a Comment">
                                    </p>
                                </span>
                            </section>
                            <% } %>
                        </div>
                        <aside class="col-md-3">
                            <div class="info-nav scrollable">
                                <nav class="aside-nav">
                                    <ul>
                                        <li class='red_sign'>
                                            <a id="nav-details" href="#Details">&nbsp  Details</a>
                                        </li>
                                        <li class>
                                            <a id="nav-meeting" href="#MeetingInfo">&nbsp  Meeting Information</a>
                                        </li>
                                        <li class>
                                            <a id="nav-enrollment" href="#EnrollmentInfo">&nbsp  Enrollment Information</a>
                                        </li>
                                        <li class>
                                            <a id="nav-availablity" href="#AvailablityInfo">&nbsp  Class Availablity</a>
                                        </li>
                                        <li class>
                                            <a id="nav-comments" href="#Comments">&nbsp Comments</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </main>
    </div>
<script type="text/javascript" src="/javascripts/course.js"></script>
<script type="text/javascript" src="/javascripts/index.js"></script>
<% include partials/footer %>