<!DOCTYPE html>
<html>
<head>
    <title>CUTE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/course.css'>
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/util.css">
    <link rel="stylesheet" href="/stylesheets/meetingtable.css">
    <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</head>

<body>

    <nav class="nav">
        <a class="logo">CUTE</a>
        <% if(sid == undefined){ %>
            <button class="nav-button" data-toggle="modal" data-target="#loginModal">
                <span aria-hidden="true">
                    <i class="ion-log-in"></i>
                </span> Login
            </button>
            <% } else { %>
                <button class="nav-button" id="student-id">
                    <span aria-hidden="true">
                        <i class="ion-ios-person"></i>
                    </span>
                    <%= sid %>
                </button>
                <button class="nav-button" onclick="window.location.href='/logout'">
                    <span aria-hidden="true">
                        <i class="ion-log-out"></i>
                    </span> Logout
                </button>
                <% } %>
    </nav>
    <div class = "main-container">
        <main class="main-content">
            <div class="course-page">
                <div class="page-container">
                    <div class="row">
                        <div class="col-md-9">
                            <div id="Details">
                                <header class="course-header">
                                    <a class="link link--kukuri" href="#" data-letters=<%= course.courseCode %>><%= course.courseCode %></a>
                                    <h2>
                                        <%= course.courseName %>
                                    </h2>
                                    <p>
                                        <% if(course.classDetails.units != '1'){ %>
                                            <span class="beauty-font">
                                                <%= course.classDetails.units %> units
                                            </span>
                                        <% }else{ %>
                                            <span class="beauty-font">
                                                <%= course.classDetails.units %> unit
                                            </span>
                                        <% } %>
                                        <span class="beauty-font"> ● <%= course.semester %></span>
                                    </p>
                                </header>
                                <section>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <span class="beauty-font">
                                                <%- course.description %>
                                            </span>
                                        </div>
                                        <div class="col-sm-4">
                                            <div>
                                                <h2>Course Details</h2>
                                            </div>
                                            <div class="course-detail">
                                                <h4>Career: </h4>
                                                <p><%= course.classDetails.career %></p>
                                                <h4>Grading: </h4>
                                                <p>
                                                    <%= course.classDetails.grading %>
                                                </p>
                                                <h4>Lecture Status: </h4>
                                                <p>
                                                    <%= course.lectures.status %>
                                                </p>
                                                <h4>Section Code: </h4>
                                                <p>
                                                    <%= course.sectionCode %>
                                                </p>
                                                <h4>Class components: </h4>
                                                <p>
                                                    <%= course %>
                                                </p>
                                            </div>
                                        </div>    
                                    </div>
                                </section>
                            </div>
                            <section id="MeetingInfo">
                                <h2 class="courseinfo-border">Meeting Information</h2>
                                <div class="row">
                                    <% if(course.lectures){ %>
                                        <div>
                                            <h3>Lecture</h3>
                                            <p>
                                                <%= course.lectures.meetingInfo %>
                                            </p>
                                            <div class="table100 ver2 m-b-110">
                                                <div class="table100-head">
                                                    <table>
                                                        <thead>
                                                            <tr class="row100 head">
                                                                <th class="cell100 column1">Days & Times</th>
                                                                <th class="cell100 column2">Room</th>
                                                                <th class="cell100 column3">Instructor</th>
                                                                <th class="cell100 column4">Meeting Dates</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            
                                                <div class="table100-body js-pscroll">
                                                    <table>
                                                        <tbody>
                                                            <tr class="row100 body">
                                                                <td class="cell100 column1"><%= course.lectures.meetingInfo[0].daysTime.day %> <%= course.lectures.meetingInfo[0].daysTime.timeSlot %></td>
                                                                <td class="cell100 column2"><%= course.lectures.meetingInfo[0].room %></td>
                                                                <td class="cell100 column3"><%= course.instructor %></td>
                                                                <td class="cell100 column4"><%= course.lectures.meetingInfo[0].meetingDates.startDate %>-<%= course.lectures.meetingInfo[0].meetingDates.endDate %></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                        </div>
                                    <% } %>
                                    <% if(course.tutorials.length>0){ %>
                                        <div class>
                                            <h3>Tutorials</h3>
                                            <div class="table100 ver2 m-b-110">
                                                <div class="table100-head">
                                                    <table>
                                                        <thead>
                                                            <tr class="row100 head">
                                                                <th class="cell100 column1">Hello</th>
                                                                <th class="cell100 column2">Type</th>
                                                                <th class="cell100 column3">Hours</th>
                                                                <th class="cell100 column4">Trainer</th>
                                                                <th class="cell100 column5">Spots</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            
                                                <div class="table100-body js-pscroll">
                                                    <table>
                                                        <tbody>
                                                            <tr class="row100 body">
                                                                <td class="cell100 column1">Like a butterfly</td>
                                                                <td class="cell100 column2">Boxing</td>
                                                                <td class="cell100 column3">9:00 AM - 11:00 AM</td>
                                                                <td class="cell100 column4">Aaron Chapman</td>
                                                                <td class="cell100 column5">10</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <p>
                                                <%= course.tutorials[0].meetingInfo %>
                                            </p>
                                        </div>
                                    <% } %>
                                    <% if(course.labs.length>0){ %>
                                        <div class>
                                            <h3>Labs</h3>
                                            <p>
                                                <%= course.labs %>
                                            </p>
                                        </div>
                                    <% } %>
                                </div>
                            </section>
                            <section id="EnrollmentInfo">
                                <h2 class="courseinfo-border">Enrollment Information</h2>
                            </section>
                            <section id="AvailablityInfo">
                                <h2 class="courseinfo-border">Class Availablity</h2>
                            </section>
                            <section id="Comments">
                                <div class="courseinfo-border">
                                    <span class="h2-span">Comments</span>
                                    <span class="comments-sort-list">
                                        <a data-value="1" class="selected" title="Top" href="javascript:void(0);">Top</a>
                                        <a data-value="2" title="Recent" href="javascript:void(0);">Recent</a>
                                    </span>
                                </div>
                                <div class="comments_border">
                                    <div class="comments-list">
                                        <div class="thread">
                                            <div class="comment-item" id>
                                                <div class="comment-conten">4140 is very very cool !!!</div>
                                                <div class="comment-mode">
                                                    <div class="comment-control">
                                                        <span class="num-votes">100 votes</span>
                                                        <div class="comment-vote">
                                                            <div class="vote-for triangle-up"></div>
                                                            <div class="vote-for triangle-down"></div>
                                                        </div>
                                                        <div class="separator"> ● </div>
                                                        <a href="javascript:void(0)" class="toggle-replies show-replies">Comment</a>
                                                    </div>
                                                    <div class="time-section">
                                                        <span class="comment-time">2018-05-01</span>
                                                        <div class="separator"> ● </div>
                                                        <span class="comment-section">CSCI2100A</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <aside class="col-md-3">
                            <div class="info-nav scrollable">
                                <nav class="aside-nav">
                                    <ul>
                                        <li class='red_sign'>
                                            <a id="nav-details" href="#Details">&nbsp  Details</a>
                                        </li>
                                        <li class>
                                            <a id="nav-meeting" href="#MeetingInfo">&nbsp  Meeting Information</a>
                                        </li>
                                        <li class>
                                            <a id="nav-enrollment" href="#EnrollmentInfo">&nbsp  Enrollment Information</a>
                                        </li>
                                        <li class>
                                            <a id="nav-availablity" href="#AvailablityInfo">&nbsp  Class Availablity</a>
                                        </li>
                                        <li class>
                                            <a id="nav-comments" href="#Comments">&nbsp Comments</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            <i class="ion-ios-close-outline"></i>
                        </span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/login" id="login-form">
                        <div class="login-input input-box">
                            <i class="ion-ios-person-outline"></i>
                            <input type="text" name="sid" placeholder="11550xxxxx">
                        </div>
                        <div class="login-input input-box">
                            <i class="ion-ios-keypad-outline"></i>
                            <input type="password" name="pwd" placeholder="password">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" form="login-form" value="Submit" class="btn btn-cute">Login</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript" src="/javascripts/course.js"></script>