<!DOCTYPE html>
<html>
<head>
    <title>CUTE</title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel='stylesheet' href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/course.css'>
    <link rel="stylesheet" href="/stylesheets/util.css">
    <link rel="stylesheet" href="/stylesheets/meetingtable.css">
    <link rel="stylesheet" href="/stylesheets/like.css">
    <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="nav">
        <a href="/" class="logo">CUTE</a>
        <% if(sid == undefined){ %>
            <button class="clickable-btn" data-toggle="modal" data-target="#loginModal">
                <span aria-hidden="true">
                    <i class="ion-log-in"></i>
                </span> Login
            </button>
            <% } else { %>
                <div class="dropdown">
                    <button type="button" class="clickable-btn" id="student-id">
                        <span aria-hidden="true">
                            <i class="ion-ios-person"></i>
                        </span>
                        <%= sid %>
                    </button>
                    <div class="dropdown-list" aria-labelledby="student-id">
                        <a href="#" class="clickable-btn" id="import-btn">
                            <span aria-hidden="true">
                                <i class="ion-ios-download-outline"></i>
                            </span> Import Timetable</a>
                        <br>
                        <a href="/logout" class="clickable-btn">
                            <span aria-hidden="true">
                                <i class="ion-log-out"></i>
                            </span> Logout</a>
                    </div>
                </div>
                <% } %>
    </nav>
    <div class = "main-container">
        <main class="main-content">
            <div class="course-page">
                <div class="page-container">
                    <div class="row">
                        <div class="col-md-9">
                            <div id="Details">
                                <header class="course-header">
                                    <a class="link link--kukuri" href="#" data-letters=<%= course.courseCode %>><%= course.courseCode %></a>
                                    <h2>
                                        <%= course.courseName %>
                                    </h2>
                                    <p>
                                        <% if(course.classDetails.units != '1'){ %>
                                            <span class="beauty-font">
                                                <%= course.classDetails.units %> units
                                            </span>
                                        <% }else{ %>
                                            <span class="beauty-font">
                                                <%= course.classDetails.units %> unit
                                            </span>
                                        <% } %>
                                        <span class="beauty-font"> ● <%= course.semester %></span>
                                    </p>
                                </header>
                                <section>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <span class="beauty-font">
                                                <%- course.description %>
                                            </span>
                                        </div>
                                        <div class="col-sm-4">
                                            <div>
                                                <h2>Course Details</h2>
                                            </div>
                                            <div class="course-detail">
                                                <h4>Career: </h4>
                                                <p><%= course.classDetails.career %></p>
                                                <h4>Grading: </h4>
                                                <p>
                                                    <%= course.classDetails.grading %>
                                                </p>
                                                <h4>lecture Status: </h4>
                                                <p>
                                                    <%= course.componentDict.LEC[0].status %>
                                                </p>
                                                <% if(course.sectionCode.length> 0){ %>
                                                <h4>Section Code: </h4>
                                                <p>
                                                    <%= course.sectionCode %>
                                                </p>
                                                <% } %>
                                            </div>
                                        </div>    
                                    </div>
                                </section>
                            </div>
                            <section id="MeetingInfo">
                                <h2 class="courseinfo-border">Meeting Information</h2>
                                <div class="row">
                                    <% if(course.componentDict.LEC[0]._id){ %>
                                        <div>
                                            <h3>lecture</h3>
                                            <div class="table100 ver2 m-b-110">
                                                <div class="table100-head">
                                                    <table>
                                                        <thead>
                                                            <tr class="row100 head">
                                                                <th class="cell100 column1">Days & Times</th>
                                                                <th class="cell100 column2">Room</th>
                                                                <th class="cell100 column3">Instructor</th>
                                                                <th class="cell100 column4">Meeting Dates</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            
                                                <div class="table100-body js-pscroll">
                                                    <table>
                                                        <tbody>
                                                            <% for(var i=0;i<course.componentDict.LEC[0].meetingInfo.length;i++){ %>
                                                            <tr class="row100 body">
                                                                <% switch (course.componentDict.LEC[0].meetingInfo[i].daysTime.day) { case 0: course.componentDict.LEC[0].meetingInfo[i].daysTime.day = "Monday"; break;case 1: course.componentDict.LEC[0].meetingInfo[i].daysTime.day = "Tuesday"; break; case 2: course.componentDict.LEC[0].meetingInfo[i].daysTime.day= "Wednesday"; break; case 3: course.componentDict.LEC[0].meetingInfo[i].daysTime.day = "Thursday"; break; case 4: course.componentDict.LEC[0].meetingInfo[i].daysTime.day= "Friday"; break; case 5: course.componentDict.LEC[0].meetingInfo[i].daysTime.day = "Saturday"; break; } %>
                                                                <% switch (course.componentDict.LEC[0].meetingInfo[i].daysTime.timeSlot.start) { case 1: course.componentDict.LEC[0].meetingInfo[i].daysTime.timeSlot.start = "8:30"; break;case 2: course.componentDict.LEC[0].meetingInfo[i].daysTime.timeSlot.start = "9:30"; break; case 3: course.componentDict.LEC[0].meetingInfo[i].daysTime.timeSlot.start= "10:30"; break; case 4: course.componentDict.LEC[0].meetingInfo[i].daysTime.timeSlot.start = "11:30"; break; case 5: course.componentDict.LEC[0].meetingInfo[i].daysTime.timeSlot.start= "12:30"; break; case 6: course.componentDict.LEC[0].meetingInfo[i].daysTime.timeSlot.start = "13:30"; break; case 7: course.componentDict.LEC[0].meetingInfo[i].daysTime.timeSlot.start = "14:30"; break;case 8: course.componentDict.LEC[0].meetingInfo[i].daysTime.timeSlot.start= "15:30"; break; case 9: course.componentDict.LEC[0].meetingInfo[i].daysTime.timeSlot.start= "16:30"; break; case 10: course.componentDict.LEC[0].meetingInfo[i].daysTime.timeSlot.start= "17:30"; break; case 11: course.componentDict.LEC[0].meetingInfo[i].daysTime.timeSlot.start= "18:30"; break; case 12: course.componentDict.LEC[0].meetingInfo[i].daysTime.timeSlot.start= "19:30"; break;case 13: course.componentDict.LEC[0].meetingInfo[i].daysTime.timeSlot.start= "20:30"; break;case 14: course.componentDict.LEC[0].meetingInfo[i].daysTime.timeSlot.start= "21:30"; break;} %>
                                                                <% switch (course.componentDict.LEC[0].meetingInfo[i].daysTime.timeSlot.end) { case 1: course.componentDict.LEC[0].meetingInfo[i].daysTime.timeSlot.end = "8:45"; break;case 2: course.componentDict.LEC[0].meetingInfo[i].daysTime.timeSlot.end = "9:45"; break; case 3: course.componentDict.LEC[0].meetingInfo[i].daysTime.timeSlot.end= "10:45"; break; case 4: course.componentDict.LEC[0].meetingInfo[i].daysTime.timeSlot.end = "11:45"; break; case 5: course.componentDict.LEC[0].meetingInfo[i].daysTime.timeSlot.end= "12:45"; break; case 6: course.componentDict.LEC[0].meetingInfo[i].daysTime.timeSlot.end = "13:45"; break; case 7: course.componentDict.LEC[0].meetingInfo[i].daysTime.timeSlot.end = "14:45"; break;case 8: course.componentDict.LEC[0].meetingInfo[i].daysTime.timeSlot.end= "15:45"; break; case 9: course.componentDict.LEC[0].meetingInfo[i].daysTime.timeSlot.end= "16:45"; break; case 10: course.componentDict.LEC[0].meetingInfo[i].daysTime.timeSlot.end= "17:45"; break; case 11: course.componentDict.LEC[0].meetingInfo[i].daysTime.timeSlot.end= "18:45"; break; case 12: course.componentDict.LEC[0].meetingInfo[i].daysTime.timeSlot.end= "19:45"; break;case 13: course.componentDict.LEC[0].meetingInfo[i].daysTime.timeSlot.end= "20:45"; break;case 14: course.componentDict.LEC[0].meetingInfo[i].daysTime.timeSlot.end= "21:45"; break;} %>
                                                                <% course.componentDict.LEC[0].meetingInfo[i].meetingDates.startDate = [(course.componentDict.LEC[0].meetingInfo[i].meetingDates.startDate.getDate()),(course.componentDict.LEC[0].meetingInfo[i].meetingDates.startDate.getMonth()+1),course.componentDict.LEC[0].meetingInfo[i].meetingDates.startDate.getFullYear()].join('/'); %>
                                                                <% course.componentDict.LEC[0].meetingInfo[i].meetingDates.endDate = [(course.componentDict.LEC[0].meetingInfo[i].meetingDates.endDate.getDate()),(course.componentDict.LEC[0].meetingInfo[i].meetingDates.endDate.getMonth()+1),course.componentDict.LEC[0].meetingInfo[i].meetingDates.endDate.getFullYear()].join('/'); %>
                                                                <td class="cell100 column1"><%= course.componentDict.LEC[0].meetingInfo[i].daysTime.day %> <%= course.componentDict.LEC[0].meetingInfo[i].daysTime.timeSlot.start %> - <%= course.componentDict.LEC[0].meetingInfo[i].daysTime.timeSlot.end %></td>
                                                                <td class="cell100 column2"><%= course.componentDict.LEC[0].meetingInfo[i].room %></td>
                                                                <td class="cell100 column3"><%= course.instructor %></td>
                                                                <td class="cell100 column4"><%= course.componentDict.LEC[0].meetingInfo[i].meetingDates.startDate %>-<%= course.componentDict.LEC[0].meetingInfo[0].meetingDates.endDate %></td>
                                                            </tr>
                                                            <% } %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                        </div>
                                    <% } %>
                                    <% if(course.componentDict.TUT.length>0){ %>
                                        <div class>
                                            <h3>Tutorials</h3>
                                            <div class="table100 ver2 m-b-110">
                                                <div class="table100-head">
                                                    <table>
                                                        <thead>
                                                            <tr class="row100 head">
                                                                <th class="cell100 column1">Tutorials Section</th>
                                                                <th class="cell100 column2">Days & Times</th>
                                                                <th class="cell100 column3">Room</th>
                                                                <th class="cell100 column4">Instructor</th>
                                                                <th class="cell100 column5">Meeting Dates</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            
                                                <div class="table100-body js-pscroll">
                                                    <table>
                                                        <tbody>
                                                            <% for(var i=0;i<course.componentDict.TUT.length;i++){ %>
                                                            <tr class="row100 body">
                                                                <td class="cell100 column1"><%= course.componentDict.TUT[i].sectionCode %></td>
                                                                <% switch (course.componentDict.TUT[i].meetingInfo[0].daysTime.day) { case 0: course.componentDict.TUT[i].meetingInfo[0].daysTime.day = "Monday"; break;case 1: course.componentDict.TUT[i].meetingInfo[0].daysTime.day = "Tuesday"; break; case 2: course.componentDict.TUT[i].meetingInfo[0].daysTime.day= "Wednesday"; break; case 3: course.componentDict.TUT[i].meetingInfo[0].daysTime.day = "Thursday"; break; case 4: course.componentDict.TUT[i].meetingInfo[0].daysTime.day= "Friday"; break; case 5: course.componentDict.TUT[i].meetingInfo[0].daysTime.day = "Saturday"; break; } %>
                                                                <% switch (course.componentDict.TUT[i].meetingInfo[0].daysTime.timeSlot.start) { case 1: course.componentDict.TUT[i].meetingInfo[0].daysTime.timeSlot.start = "8:30"; break;case 2: course.componentDict.TUT[i].meetingInfo[0].daysTime.timeSlot.start = "9:30"; break; case 3: course.componentDict.TUT[i].meetingInfo[0].daysTime.timeSlot.start= "10:30"; break; case 4: course.componentDict.TUT[i].meetingInfo[0].daysTime.timeSlot.start = "11:30"; break; case 5: course.componentDict.TUT[i].meetingInfo[0].daysTime.timeSlot.start= "12:30"; break; case 6: course.componentDict.TUT[i].meetingInfo[0].daysTime.timeSlot.start = "13:30"; break; case 7: course.componentDict.TUT[i].meetingInfo[0].daysTime.timeSlot.start = "14:30"; break;case 8: course.componentDict.TUT[i].meetingInfo[0].daysTime.timeSlot.start= "15:30"; break; case 9: course.componentDict.TUT[i].meetingInfo[0].daysTime.timeSlot.start= "16:30"; break; case 10: course.componentDict.TUT[i].meetingInfo[0].daysTime.timeSlot.start= "17:30"; break; case 11: course.componentDict.TUT[i].meetingInfo[0].daysTime.timeSlot.start= "18:30"; break; case 12: course.componentDict.TUT[i].meetingInfo[0].daysTime.timeSlot.start= "19:30"; break;case 13: course.componentDict.TUT[i].meetingInfo[0].daysTime.timeSlot.start= "20:30"; break;case 14: course.componentDict.TUT[i].meetingInfo[0].daysTime.timeSlot.start= "21:30"; break;} %>
                                                                <% switch (course.componentDict.TUT[i].meetingInfo[0].daysTime.timeSlot.end) { case 1: course.componentDict.TUT[i].meetingInfo[0].daysTime.timeSlot.end = "8:45"; break;case 2: course.componentDict.TUT[i].meetingInfo[0].daysTime.timeSlot.end = "9:45"; break; case 3: course.componentDict.TUT[i].meetingInfo[0].daysTime.timeSlot.end= "10:45"; break; case 4: course.componentDict.TUT[i].meetingInfo[0].daysTime.timeSlot.end = "11:45"; break; case 5: course.componentDict.TUT[i].meetingInfo[0].daysTime.timeSlot.end= "12:45"; break; case 6: course.componentDict.TUT[i].meetingInfo[0].daysTime.timeSlot.end = "13:45"; break; case 7: course.componentDict.TUT[i].meetingInfo[0].daysTime.timeSlot.end = "14:45"; break;case 8: course.componentDict.TUT[i].meetingInfo[0].daysTime.timeSlot.end= "15:45"; break; case 9: course.componentDict.TUT[i].meetingInfo[0].daysTime.timeSlot.end= "16:45"; break; case 10: course.componentDict.TUT[i].meetingInfo[0].daysTime.timeSlot.end= "17:45"; break; case 11: course.componentDict.TUT[i].meetingInfo[0].daysTime.timeSlot.end= "18:45"; break; case 12: course.componentDict.TUT[i].meetingInfo[0].daysTime.timeSlot.end= "19:45"; break;case 13: course.componentDict.TUT[i].meetingInfo[0].daysTime.timeSlot.end= "20:45"; break;case 14: course.componentDict.TUT[i].meetingInfo[0].daysTime.timeSlot.end= "21:45"; break;} %>
                                                                <% course.componentDict.TUT[i].meetingInfo[0].meetingDates.startDate = [(course.componentDict.TUT[i].meetingInfo[0].meetingDates.startDate.getDate()),(course.componentDict.TUT[i].meetingInfo[0].meetingDates.startDate.getMonth()+1),course.componentDict.TUT[i].meetingInfo[0].meetingDates.startDate.getFullYear()].join('/'); %>
                                                                <% course.componentDict.TUT[i].meetingInfo[0].meetingDates.endDate = [(course.componentDict.TUT[i].meetingInfo[0].meetingDates.endDate.getDate()),(course.componentDict.TUT[i].meetingInfo[0].meetingDates.endDate.getMonth()+1),course.componentDict.TUT[i].meetingInfo[0].meetingDates.endDate.getFullYear()].join('/'); %>
                                                                <td class="cell100 column2"><%= course.componentDict.TUT[i].meetingInfo[0].daysTime.day %> <%= course.componentDict.TUT[i].meetingInfo[0].daysTime.timeSlot.start %> -
                                                                    <%= course.componentDict.TUT[i].meetingInfo[0].daysTime.timeSlot.end %></td>
                                                                <td class="cell100 column3"><%= course.componentDict.TUT[i].meetingInfo[0].room %></td>
                                                                <td class="cell100 column4"><%= course.instructor %></td>
                                                                <td class="cell100 column5"><%= course.componentDict.TUT[i].meetingInfo[0].meetingDates.startDate %> -
                                                                    <%= course.componentDict.TUT[i].meetingInfo[0].meetingDates.endDate %></td>
                                                            </tr>
                                                            <% } %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                </div>
                            </section>
                            <section id="EnrollmentInfo">
                                <h2 class="courseinfo-border">Enrollment Information</h2>
                                <p>Class Attribute: </p>
                                <p><%= course.enrollmentInfo.classAttr %></p>
                                <p>Drop Consent</p>
                                <p><%= course.enrollmentInfo.dropConsent %></p>
                                <p>Enroll Requirement: </p>
                                <p><%= course.enrollmentInfo.enrollReq %></p>
                            </section>
                            <section id="AvailablityInfo">
                                <div class="courseinfo-border">
                                    <span class="h2-span">Class Availablity</span>
                                    <span class="comments-sort-list">
                                        <span id="courseId" style="display: none;"><%= course._id %></span>
                                        <span>Last Updated: </span>
                                        <% course.componentDict.LEC[0].classAvail.updatedTime = [(course.componentDict.LEC[0].classAvail.updatedTime.getDate()),(course.componentDict.LEC[0].classAvail.updatedTime.getMonth()+1),course.componentDict.LEC[0].classAvail.updatedTime.getFullYear()].join('/')+'  '+[(course.componentDict.LEC[0].classAvail.updatedTime.getHours()),(course.componentDict.LEC[0].classAvail.updatedTime.getMinutes()),course.componentDict.LEC[0].classAvail.updatedTime.getSeconds()].join(':'); %>
                                        <span><%= course.componentDict.LEC[0].classAvail.updatedTime %></span>
                                        <% if (sid != undefined){ %>
                                        <button class="btn btn-cute" id="refresh-waitingList">refresh</button>
                                        <% } %>
                                    </span>
                                </div>
                                <h3>componentDict.LEC[0]</h3>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h4 class="courseinfo-border">Quota</h4>
                                        <span>
                                            <%= course.componentDict.LEC[0].classAvail.enrollTotal %> /
                                                <%= course.componentDict.LEC[0].classAvail.classCapacity %>
                                        </span>
                                    </div>
                                    <div class="col-sm-4">
                                        <h4 class="courseinfo-border">Waiting List</h4>
                                        <span>
                                            <%= course.componentDict.LEC[0].classAvail.waitListTotal %> /
                                                <%= course.componentDict.LEC[0].classAvail.waitListCapacity %>
                                        </span>
                                    </div>
                                </div>
                                <% if(course.componentDict.TUT.length>0){ %>
                                <h3>Tutorials</h3>
                                <% for(var i=0;i<course.componentDict.TUT.length;i++){ %>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h4 class="courseinfo-border">Quota</h4>
                                        <span>
                                            <%= course.componentDict.TUT[i].classAvail.enrollTotal %> /
                                                <%= course.componentDict.TUT[i].classAvail.classCapacity %>
                                        </span>
                                    </div>
                                    <div class="col-sm-4">
                                        <h4 class="courseinfo-border">Waiting List</h4>
                                        <span>
                                            <%= course.componentDict.TUT[i].classAvail.waitListTotal %> /
                                                <%= course.componentDict.TUT[i].classAvail.waitListCapacity %>
                                        </span>
                                    </div>
                                </div>
                                <% } %>
                                <% } %>
                            </section>
                            <section id="Comments">
                                <div class="courseinfo-border">
                                    <h2>Comments</h2>
                                    <% if(sid != undefined){ %>
                                    <a href="#respond" class="scroll_cmt_frm scroller" id="add-comment">
                                        Add Comment
                                    </a>
                                    <% } %>
                                </div>
                                <div class="comments_border">
                                    <div class="comments-list">
                                        <% for(var i=0; i < course.comments.length; i++){ %>
                                        <div class="thread" id=<%= course.comments[i].author %>>
                                            <span class="comment-form edit-form">
                                                <p class="comment-form-comment">
                                                    <input id="comment-id" value=<%= course.comments[i]._id %> style="display: none;">
                                                    <textarea id="edit-comment" name="text" col="60" row="8" required></textarea>
                                                </p>
                                                <p>
                                                    <span class="rating">
                                                        <span>Rating: </span>
                                                        <input id="rating5" type="radio" name="rating" value="5">
                                                        <label for="rating5">5</label>
                                                        <input id="rating4" type="radio" name="rating" value="4">
                                                        <label for="rating4">4</label>
                                                        <input id="rating3" type="radio" name="rating" value="3" checked>
                                                        <label for="rating3">3</label>
                                                        <input id="rating2" type="radio" name="rating" value="2">
                                                        <label for="rating2">2</label>
                                                        <input id="rating1" type="radio" name="rating" value="1">
                                                        <label for="rating1">1</label>
                                                        <input id="edit-rating" style="display: none;" value="3">
                                                    </span>
                                                </p>
                                                <p class="comment-submit">
                                                    <input name="submit" type="submit" id="edit-submit" class="submit" value="Edit a Comment">
                                                </p>
                                            </span>
                                            <div class="comment-item former">
                                                <% if(sid == course.comments[i].author){ %>
                                                    <% var commented = '1'; %>
                                                    <span>My Comment</span>
                                                    <span class="comment-submit">
                                                        <input id="AuthorId" value=<%= course.comments[i].author %> style="display: none;">
                                                        <input id="CommentId" value=<%= course.comments[i]._id %> style="display: none;">
                                                        <input name="edit" type="submit" id="edit" class="edit" value="Edit">
                                                    </span>
                                                    <span class="comment-submit">
                                                        <input name="Delete" type="submit" id="Delete" class="Delete" value="Delete">
                                                    </span>
                                                <% } %>
                                                <div class="comment-content"><%= course.comments[i].text %></div>
                                                <div class="comment-mode">
                                                    <div class="comment-control">
                                                        <div class="praise">
                                                            <% console.log(course.comments[i].voters) %>
                                                            <input class="CommentId" value=<%= course.comments[i]._id %> style="display: none;">
                                                            <span class="img-praise">
                                                                <% if( course.comments[i].numVotes>0 && course.comments[i].voters.indexOf(sid)>=0){ %>
                                                                    <img src="/img/like.png" class="praise-img" />
                                                                <% }else{ %>
                                                                    <img src="/img/unlike.png" class="praise-img"/>
                                                                <% } %>
                                                            </span>
                                                            <span class="praise-txt"><%= course.comments[i].numVotes %></span>
                                                        </div>
                                                        <div class="rating-info">
                                                        <span>Rating: </span>
                                                        <span>
                                                            <%= course.comments[i].rating %>
                                                        </span>
                                                        <div class="separator"> ● </div>
                                                        <span>
                                                            <%= course.comments[i].semester %>
                                                        </span>
                                                        <div class="separator"> ● </div>
                                                        <span>Section: </span>
                                                        <span class="comment-section">
                                                            <%= course.comments[i].sectionCode %>
                                                        </span>
                                                        </div>
                                                    </div>
                                                    <div class="time-section">
                                                        <span class="comment-time"><%= course.comments[i].time %></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                    </div>
                                </div>
                            </section>
                            <% if(sid != undefined && commented != 1){ %>
                            <section id="respond" class="comment-respond">
                                <h2 class="comment-reply-title">Leave a Comment</h2>
                                <span class="comment-form">
                                    <label>Your comment * For users who have taken <%= course.courseCode %></label>
                                    <p class="comment-form-comment">
                                        <input name="courseId" value=<%= course._id %> style="display: none;"></input>
                                        <textarea id="write-comment" name="text" col="60" row="8" required></textarea>
                                    </p>
                                    <p>
                                        <span class="rating">
                                            <span>Rating: </span>
                                            <input id="rating5" type="radio" name="rating" value="5">
                                            <label for="rating5">5</label>
                                            <input id="rating4" type="radio" name="rating" value="4">
                                            <label for="rating4">4</label>
                                            <input id="rating3" type="radio" name="rating" value="3" checked>
                                            <label for="rating3">3</label>
                                            <input id="rating2" type="radio" name="rating" value="2">
                                            <label for="rating2">2</label>
                                            <input id="rating1" type="radio" name="rating" value="1">
                                            <label for="rating1">1</label>
                                            <input id="rating" style="display: none;" value="3">
                                        </span>
                                    </p>
                                    <p class="comment-submit">
                                        <input name="submit" type="submit" id="submit" class="submit" value="Send a Comment">
                                    </p>
                                </span>
                            </section>
                            <% } %>
                        </div>
                        <aside class="col-md-3">
                            <div class="info-nav scrollable">
                                <nav class="aside-nav">
                                    <ul>
                                        <li class='red_sign'>
                                            <a id="nav-details" href="#Details">&nbsp  Details</a>
                                        </li>
                                        <li class>
                                            <a id="nav-meeting" href="#MeetingInfo">&nbsp  Meeting Information</a>
                                        </li>
                                        <li class>
                                            <a id="nav-enrollment" href="#EnrollmentInfo">&nbsp  Enrollment Information</a>
                                        </li>
                                        <li class>
                                            <a id="nav-availablity" href="#AvailablityInfo">&nbsp  Class Availablity</a>
                                        </li>
                                        <li class>
                                            <a id="nav-comments" href="#Comments">&nbsp Comments</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            <i class="ion-ios-close-outline"></i>
                        </span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/login" id="login-form">
                        <div class="login-input input-box">
                            <i class="ion-ios-person-outline"></i>
                            <input type="text" name="sid" placeholder="11550xxxxx">
                        </div>
                        <div class="login-input input-box">
                            <i class="ion-ios-keypad-outline"></i>
                            <input type="password" name="pwd" placeholder="password">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" form="login-form" value="Submit" class="btn btn-cute">Login</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript" src="/javascripts/course.js"></script>